<!doctype html>
<html>
    <head>
        <title>
            {% block title %} TITLE GOES HERE {% endblock %}
        </title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="/static/css/carousel.css" rel="stylesheet"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Coiny|Lato:400,900" rel="stylesheet">

        <!-- PetShare styles -->
        <link href="/static/css/petshare.css" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>

        {% block content %} CONTENT GOES HERE {% endblock %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    </body>
</html>