{% extends 'base.html' %}

{% block title %}
    Connection Requests
{% endblock %}

{% block content %}
    {% include 'nav_top.html' %}
    <div class="container">
        <h1>Request Connection for {{ pet.name }}</h1>

        {% if user.owner %}
        <h3>Pet Seeker: <a href="/user/{{c_request.seeker.user.user_id}}">{{ c_request.seeker.user.first_name }} {{ c_request.seeker.user.last_name }}</a></h3>
        {% endif %}

        {% if user.seeker %}
        <h3>Pet Owner: <a href="/user/{{c_request.owner.user.user_id}}">{{ c_request.owner.user.first_name }} {{ c_request.owner.user.last_name }}</a></h3>
        {% endif %}

        <p>Connection status:  <span id="c_status">{{ c_request.connection_status }}</span></p>
        {% if user.owner %}
        <div>
            <form id="chgStatusForm" action="/change_connect_status" method="POST">
                <input type="hidden" id="request_id" name="request_id" value="{{ c_request.request_id }}">
                <select id="connection_status" name="connection_status">
                    <option value="Interested">Interested</option>
                    <option value="Pending Review">Pending Review</option>
                    <option value="Accept">Accept</option>
                    <option value="Decline">Decline</option>
                </select>
                <input type="submit" value="Update status">
            </form>
            <script>
            "use strict";

            function confirmUpdate(result) {
                if (result.connect === 'success') {
                    $("#c_status").html(result.connection_status);
                    alert("Connection status updated.");
                }
            }

            function updateConnectStatus(evt) {
                evt.preventDefault();

                var requestInputs = {
                    "request_id" : $("#request_id").val(),
                    "connection_status" : $("#connection_status").val()
                };

                $.post("/change_connect_status", requestInputs, confirmUpdate);

            }

            $("#chgStatusForm").on("submit", updateConnectStatus);

            </script>
        </div>
        {% endif %}

        <br>
        <ul>
            {% if c_request.messages %}
                {% for msg in c_request.messages: %}
                <li>{{ msg.message_at }} <br>
                <blockquote>{{ msg.message }} </blockquote>~{{ msg.user.first_name }}</li>
                {% endfor %}
            {% endif %}
            <form id="msgForm" action="/add_message" method="POST">
                <input type="hidden" id="request_id" name="request_id" value="{{ c_request.request_id }}">
                <label>Message:</label><br />
                <textarea cols="60" rows="8" id="message" name="message"></textarea><br/>
                <input type="submit" id="add_msg" value="Add Message">
            </form>
        </ul>
            <script>
            "use strict";

            function disableConnectBtn(result) {
                if (result.connect === 'success') {

                    alert("Your message is added.");
                }
            }

            function submitConnectRequest(evt) {
                evt.preventDefault();

                var requestInputs = {
                    "request_id" : $("#request_id").val(),
                    "message" : $("#message").val()
                };

                $.post("/add_message", requestInputs, disableConnectBtn);

            }

            $("#msgForm").on("submit", submitConnectRequest);

        </script>
    </div>


{% endblock %}