{% extends "base.html" %}

{% block title %}
    Welcome to PetShare: Find your furry BFF!
{% endblock %}

{% block content %}
    <h1>Welcome to PetShare</h1>

    <h3>Find your furry BFF!</h3>

    <form action="/search">
        <label for="field-search-term">
            Search by animal type or zipcode:
        </label>
        <input type="input" name="search_term" id="field-search-term"/> <input type="submit" value="Search">
    </form>

    <h4>Member Login</h4>
    <form action="/login" method="POST">
        <label for="field-email">Email :</label>
        <input type="input" name="email" id="field-email" /><br />
        <label for="field-password">Password :</label>
        <input type="input" name="password" id="field-password" /><br />
        <input type="submit" value="Login">
    </form>

{% endblock %}