{% extends "base.html" %}

{% block title %}
    Welcome to PetShare: Find your furry BFF!
{% endblock %}

{% block content %}
    <h1>Welcome to PetShare</h1>

    <h3>Find your furry BFF!</h3>

    <p>Semiotics cred DIY, schlitz ramps selfies stumptown locavore actually yr migas kickstarter. Bushwick pickled 3 wolf moon four loko, green juice brooklyn before they sold out fashion axe artisan freegan. Fingerstache viral banh mi butcher godard. Locavore poutine butcher echo park disrupt next level. Kitsch vice chia bicycle rights, mumblecore selfies swag letterpress actually thundercats pabst. Actually YOLO sustainable, chicharrones letterpress wayfarers paleo mlkshk. Roof party offal gentrify, williamsburg fanny pack 8-bit wayfarers cold-pressed waistcoat slow-carb man braid four dollar toast leggings polaroid.</p>

    <a href="/login">Member Login</a>
{% endblock %}