{% extends 'base.html' %}

{% block title %}
    Member Dashboard
{% endblock %}

{% block content %}
    <h1>Welcome back, {{ user.first_name }}!</h1>

    <a href="/user/{{ user.user_id }}">Update My Profile</a><br />
    {% if pet %}
    My Pet: <a href="/pet_profile/{{ pet.pet_id }}">{{ pet.name }}</a><br />
    {% endif %}

    <h3>My Connection Requests</h3>
    {% if user.owner %}
        <ul>
        {% for item in request_list %}
            <li>
                <a href="/user/{{ item.seeker.user_id }}">{{ item.seeker.user.first_name }} {{ item.seeker.user.last_name }}</a> is interested in {{ item.pet.name }}:
                <form>
                    <select name="connection_status">
                        <option value="{{ item.connection_status }}">{{ item.connection_status }} </option>
                        <option value="Pending Review">Pending Review</option>
                        <option value="Accept">Accept</option>
                        <option value="Decline">Decline</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if user.seeker %}
        <form action="/search">
            <label for="field-search-term">
                Search by animal type or zipcode:
            </label>
            <input type="input" name="search_term" id="field-search-term"/> <input type="submit" value="Search">
        </form>

        <ul>
        {% for item in request_list %}
            <li>
                Connection with <a href="/pet_profile/{{ item.pet_id }}">{{ item.pet.name }}</a>: {{ item.connection_status }} <br />
                <a href="/pet_profile/{{ item.pet_id }}"><img src="{{ item.pet.image_url }}" alt="{{ item.pet.name }}" /></a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}