{% extends 'base.html' %}

{% block title %}
    Pet Profile: {{ pet.name }}
{% endblock %}

{% block content %}
    <h1>Hi, I'm {{ pet.name }}!</h1>

    {% if pet.image_url %}
    <img src="{{ pet.image_url }}" alt="{{ pet.name }}" />
    {% endif %}

    <h4>Age: {{ pet.age }}, Gender: {{ pet.gender }}, Breed: {{ pet.breed }}, Size: {{ pet.size }}</h4>
    <p>{{ pet.character_details }}</p>

    <h4>Health Details</h4>
    <p>{{ pet.health_details }}</p>

    <h3>My owner is <a href="/user/{{ owner.user_id }}">{{ owner.first_name }} {{ owner.last_name }}</a>.</h3>

    <form action="/connect" method="POST">
        <input type="hidden" name="pet_id" value="{{ pet.pet_id }}">
        <input type="hidden" name="owner_id" value="{{ pet.owner.owner_id }}">
        <input type="submit" value="Connect with {{ pet.name }}">
    </form>

    <h4>Here are some rocking photos of me:</h4>
    {% for photo in pet_photos %}
        <img src="{{ photo.image_url }}" alt="{{ photo.caption }}" /><br />
        <span>{{ photo.caption }}</span><br />
    {% endfor %}



{% endblock %}