{% extends 'base.html' %}

{% block title %}
    Pet Profile: {{ pet.name }}
{% endblock %}

{% block content %}
    <h1>Hi, I'm {{ pet.name }}!</h1>

    {% if pet.image_url %}
    <img src="{{ pet.image_url }}" alt="{{ pet.name }}" />
    {% endif %}

    <h4>Age: {{ pet.age }}, Gender: {{ pet.gender }}, Breed: {{ pet.breed }}, Size: {{ pet.size }}</h4>
    <p>{{ pet.character_details }}</p>

    <h4>Health Details</h4>
    <p>{{ pet.health_details }}</p>

    <h3>My owner is <a href="/user/{{ owner.user_id }}">{{ owner.first_name }} {{ owner.last_name }}</a>.</h3>

    <div>
    <form id="connectForm" action="/connect" method="POST">
        <input type="hidden" id="pet_id" name="pet_id" value="{{ pet.pet_id }}">
        <input type="hidden" id="owner_id" name="owner_id" value="{{ pet.owner.owner_id }}">
        <label>Request to Connect: <small>What is your story? Why did you want to connect?</small></label><br>
        <textarea id="connect_message" name="connect_message">Dogs are awesome!</textarea><br/>
        <input type="submit" id="connect_request" value="Connect with {{ pet.name }}">
    </form>
    </div>


    <script>
        "use strict";

        function disableConnectBtn(result) {
            if (result.connect === 'success') {
                $("#connect_request").attr('disabled','disabled');
                alert("Your request to connect has been sent!");
            }
        }

        function submitConnectRequest(evt) {
            evt.preventDefault();

            var requestInputs = {
                "pet_id" : $("#pet_id").val(),
                "owner_id" : $("#owner_id").val(),
                "connect_message" : $("#connect_message").val()
            };

            $.post("/connect", requestInputs, disableConnectBtn);

        }

        $("#connectForm").on("submit", submitConnectRequest);

    </script>


    <h4>Here are some rocking photos of me:</h4>
    {% for photo in pet_photos %}
        <img src="{{ photo.image_url }}" alt="{{ photo.caption }}" /><br />
        <span>{{ photo.caption }}</span><br />
    {% endfor %}



{% endblock %}