{% extends 'base.html' %}

{% block title %}
    Pet Profile: {{ pet.name }}
{% endblock %}

{% block content %}
    {% include 'nav_top.html' %}
    <div class="container">
        <h1>Hi, I'm {{ pet.name }}!</h1>
        <div class="row">
            <div class="col-md-6">


                {% if pet.image_url %}
                <img src="{{ pet.image_url }}" alt="{{ pet.name }}" style="width: 400px;" />
                {% endif %}

                <p>Age: {{ pet.age }}, Gender: {{ pet.gender }}, Breed: {{ pet.breed }}, Size: {{ pet.size }}</p>
                <p>{{ pet.character_details }}</p>


                {% if pet.health_details %}
                <h4>Health Details</h4>
                <p>{{ pet.health_details }}</p>
                {% endif %}

            </div>

            <div class="col-md-5" >
                <img class="pet_owner_photo" src="{{ owner.image_url }}" alt="{{ owner.first_name }}" />
                <h4>My owner is <a href="/user/{{ owner.user_id }}">{{ owner.first_name }} {{ owner.last_name }}</a>.</h4>

                <div>
                <form id="connectForm" action="/connect" method="POST">
                    <input type="hidden" id="pet_id" name="pet_id" value="{{ pet.pet_id }}">
                    <input type="hidden" id="owner_id" name="owner_id" value="{{ pet.owner.owner_id }}">
                    <label>Request to Connect: </label> <br>
                    <textarea cols="40" rows="8" id="connect_message" name="connect_message"></textarea><br/>
                    <small>(What is your story? Share a little about your self to {{ owner.first_name }}.)</small><br>
                    <input class="btn btn-primary btn-lg" type="submit" id="connect_request" value="Connect with {{ pet.name }}">
                </form>
                </div>

            </div>
        </div>






        <script>
            "use strict";

            function disableConnectBtn(result) {
                if (result.connect === 'success') {
                    $("#connect_request").attr('disabled','disabled');
                    alert("Your request to connect has been sent!");
                }
            }

            function submitConnectRequest(evt) {
                evt.preventDefault();

                var requestInputs = {
                    "pet_id" : $("#pet_id").val(),
                    "owner_id" : $("#owner_id").val(),
                    "connect_message" : $("#connect_message").val()
                };

                $.post("/connect", requestInputs, disableConnectBtn);

            }

            $("#connectForm").on("submit", submitConnectRequest);

        </script>

        {% if pet_photos%}
            <h4>Here are some rocking photos of me:</h4>
            <ul class="pet_photos">
            {% for photo in pet_photos %}
                <li>
                <img src="{{ photo.image_url }}" alt="{{ photo.caption }}" /><br />
                <span>{{ photo.caption }}</span><br />
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}