{% extends 'base.html' %}

{% block title %}
    User Profile: Yenly
{% endblock %}

{% block content %}
    <h1>User Profile: Yenly</h1>
    <p>YOLO letterpress blog tofu, tote bag beard iPhone synth fixie lumbersexual. Try-hard +1 mustache, banh mi portland dreamcatcher church-key actually man bun. Cold-pressed bitters kale chips chicharrones hashtag vegan. Street art gentrify vegan YOLO gluten-free knausgaard. Letterpress 3 wolf moon celiac, next level iPhone yuccie forage. Humblebrag offal intelligentsia, +1 drinking vinegar normcore microdosing. Cold-pressed locavore +1 franzen cronut, tote bag taxidermy put a bird on it try-hard microdosing.</p>

{% endblock %}