{% extends 'base.html' %}

{% block title %}
    Pet Search
{% endblock %}

{% block content %}
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="/static/js/petshare.js"></script>
        {% include 'nav_top.html' %}
        <div ng-app="petShareApp" class="container" ng-controller="searchController">
            {% raw %}
            <button class="btn btn-default" ng-click="DisplayPets('cat')">Search for Cats</button>
            <button class="btn btn-default" ng-click="DisplayPets('dog')">Search for Dogs</button>
            <span ng-bind="searchTerm"></span>  <a href="/search_map/{{ani_type}}">Map View</a>


            <div>
                <ul class="search_results">
                    <li ng-repeat="pet in pets">
                        <img ng-src="{{pet.image_url}}" alt="{{pet.name}}" />
                        <b><a href="/pet_profile/{{pet.pet_id}}">{{pet.name}}</a></b><br>
                         <small>{{pet.age}}, {{pet.gender}}, {{pet.breed}}<br>
                         Lives in {{pet.zipcode}}</small><br>

                    </li>
                </ul>

            </div>


            {% endraw %}

        </div>
{% endblock %}