<!doctype html>
<html>
    <head>
        <title>Find your furry BFF!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="/static/js/petshare.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-app="petShareApp">
        <div ng-controller="searchController">
            <button ng-click="DisplayPets('cat')">Search for Cats</button>
            <button ng-click="DisplayPets('dog')">Search for Dogs</button>
            <p>Search criteria: <span ng-bind="searchTerm"></span> <span ng-bind="city"></span>


            </p>


            <div>
                {% raw %}<a href="/search_map/{{ani_type}}">Map View</a>
                <ul>
                    <li ng-repeat="pet in pets">
                        <a href="/pet_profile/{{pet.pet_id}}">{{pet.name}}</a>, {{pet.gender}}, {{pet.breed}}, {{pet.zipcode}}<br>
                        <img ng-src="{{pet.image_url}}" alt="{{pet.name}}" />
                    </li>
                </ul>
                {% endraw %}
            </div>




        </div>
    </body>
</html>