{% extends 'base.html' %}

{% block title %}
    Pet Search
{% endblock %}

{% block content %}
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="/static/js/petshare.js"></script>
        {% include 'nav_top.html' %}
        <div ng-app="petShareApp" class="container" ng-controller="searchController">
            <button class="btn btn-primary" ng-click="DisplayPets('cat')">Search for Cats</button>
            <button class="btn btn-primary" ng-click="DisplayPets('dog')">Search for Dogs</button>
            <p>Search criteria: <span ng-bind="searchTerm"></span> <span ng-bind="city"></span>


            </p>


            <div>
                {% raw %}<a href="/search_map/{{ani_type}}">Map View</a>
                <ul>
                    <li ng-repeat="pet in pets">
                        <a href="/pet_profile/{{pet.pet_id}}">{{pet.name}}</a>, {{pet.gender}}, {{pet.breed}}, {{pet.zipcode}}<br>
                        <img ng-src="{{pet.image_url}}" alt="{{pet.name}}" />
                    </li>
                </ul>
                {% endraw %}
            </div>




        </div>
{% endblock %}